header { 
    font-size: 50px;
justify-content: center;}


.alien1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
}


.row .alien2 {
    display: inline-block;

    margin-left: 10%;
    margin-right: auto;
    width: 10%;
}

.one {background-color: #ffe4dc;
color: black;}

.two {background-color: orange;
    flex-direction: row;}

.three {background-color: orangered;}

.four {background-color: orange;}

footer {color: black;
background-color: #ffe4dc;
align-content: center;
justify-content: flex-end;}
