header { 
    color: white;
    background-color: #1F2937;
    font-size: 20px;
    margin: auto;
    padding: 1px;
    display: flex;
    justify-content: space-around;}
    

.links {
    font-size: 15px;
    color: white;
    display: flex;
    justify-content:flex-end;}

.alien1 {
    block-size: 100px;
    position: absolute;
    top: 75px;
    right: 500px;}

.button1 {
    font-size: 15px;
    background-color: #3882F6 ;
    color: white;
    border-radius: 5px;
    display: block;
    margin-left: 25%;}

.one {
    color: white;
    background-color: #1F2937;
    margin: auto;
    padding: 20px;}

.one-text {
    display:block;
    margin-left: 25%;

}

.two {
    color: black;
    background-color: #ffffff;
    margin: auto;
    padding: 1px;
    }

.two-text {
    text-align: center;}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    }
    
 .image-container {
    text-align: center;
    margin: 10px;
    }
    
 .alien2 {
    width: 100px;
    height: auto; 
    }
    
 .names {
    display: block;
    margin-top: 10px;
    font-size:25px;}

.three {
    background-color: #E5E7Eb;
    height: 200px;
    margin: auto;
    padding: 1px}

.quote {
    font-size: 36px;
    font-family: 'Open Sans Light Italic', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: #1F2937;
    text-align: center;}

.author {
    color: black;
    font-weight: bold;
    position: absolute;
    right: 400px;}

.four {
    background-color: white;
    margin: auto;
    padding: 50px;}

.box {
    background-color: #3882F6;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 400px; 
    height: 70px; 
    border-radius: 8px; 
    margin: auto;
    padding: 25px}

.four .box {
    display: block;
    position: center;}

.button2 {
    font-size: 15px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-top: 10px;}

footer {
    color: whitesmoke;
    background-color: #1F2937;
    display: block;
    position: center;
    text-align: center;
    height: 20px;
    margin: auto;
    padding: 20px;}