@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/RobotoRegular-3m4L.ttf') format('truetype');
}

header {
    display: block;
    background-color: #1F2937;
    padding: 50px;
    margin: -10px;
}

.header-logo { 
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 300px;
   }
   
.links a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 700px;
    bottom: 50px;
    display: inline-block;
    margin: 0 50px;
}

.alien1 {
    block-size: 200px;
    position: relative;
    bottom: auto;
}

.button1 {
    font-family: 'Roboto';
    font-size: 25px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    transition: ease-in;
}

.one {
    background-color: #1F2937;
    margin: -10px;
    padding: 100px 20px;
    text-align: center;
}

.one-text {
    font-family: 'Roboto';
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.one-subtext {
    color: white;
    font-family: 'Roboto';
    font-size: 30px;
}


.two {
    font-family: 'Roboto';
    color: black;
    background-color: #ffffff;
    margin: -10px;
    padding: 100px 200px;}

.two-text {
    font-family: 'Roboto';
    text-align: center;
    font-size: 50px;}

.row {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    gap: 10px;
    }
    
 .image-container {
    text-align: center;
    margin: 10px;
    }
    
 .alien2 {
    width: 200px;
    height: auto; 
    }
    
 .names {
    font-family: 'Roboto';
    display: block;
    margin-top: 10px;
    font-size:25px;}

.three {
    background-color: #E5E7Eb;
    height: 200px;
    margin: -10px;
    padding: 100px 200px;}

.quote {
    font-size: 36px;
    font-family: 'Open Sans Light Italic', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: #1F2937;
    text-align: center;}

.author {
    color: black;
    font-size: 37px;
    font-weight: bold;
    position: absolute;
    right: 400px;}

.four {
    background-color: white;
    padding: 100px 350px;}

.box {
    padding: 20px 120px;
    background-color: #3882F6;
    border-radius: 8px; }

.box-text {
    font-family: 'Roboto';
    color: white;
    text-align: left;
    text-transform: uppercase;
}

.button2 {
    font-family: 'Roboto';
    font-size: 25px;
    background-color: transparent ;
    color: white;
    border-color: white;
    border-radius: 5px;
    position: relative;
    left: 600px;
    bottom: 50px;
    transition: ease-in;}


.footer-text {
    font-family: 'Roboto';
    color: whitesmoke;
    position: relative;
    text-align: center;
}
footer {
    background-color: #1F2937;
    display: block;
    height: 50px;
    margin: -10px;
    padding: 30px;}